@page "/auth"

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@using XmlIdentity
@inject AuthenticationStateProvider ASP
@inject UserManager<ApplicationUser> UM


<PageTitle>Auth</PageTitle>

<h1>You are authenticated</h1>

<AuthorizeView>
    Hello @context.User.Identity?.Name!

    @context.User.IsInRole(XmlIdentity.UserRoleEnum.Administrator.ToString());
    @context.User.IsInRole(XmlIdentity.UserRoleEnum.SiteAdministrator.ToString());
    
    
</AuthorizeView>

@code {
    protected override Task OnInitializedAsync()
    {

        var currentUser = ASP.GetAuthenticationStateAsync().Result;
        var userName = currentUser.User.Identity?.Name;
   
        return base.OnInitializedAsync();
    }
   

}
