@page "/auth"

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@using XmlIdentity

@inject UserManager<ApplicationUser> UM


<PageTitle>Auth</PageTitle>

<h1>You are authenticated</h1>

<AuthorizeView>
    Hello @context.User.Identity?.Name!

    @context.User.IsInRole("Administrator")
    
    
</AuthorizeView>

@code {
    protected override Task OnInitializedAsync()
    {

        var user =  UM.FindByEmailAsync("support@naud.io").Result;
        UM.AddToRoleAsync(user, "Administrator");


        return base.OnInitializedAsync();
    }
   

}
