@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>


<BlazorAuthentication.Components.Authentication.ChangePassword></BlazorAuthentication.Components.Authentication.ChangePassword>

Welcome to your new app.

<BlazorAuthentication.Components.Tables.UsersTable></BlazorAuthentication.Components.Tables.UsersTable>